@use "src/colours";

img {
  cursor: pointer;
}
.checkout-container {
  position: absolute;
  top: 82px;
  left: 10px;
  width: calc(100% - 20px);
  //background-color: red;
  z-index: 98;
  //padding: 1rem;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 10px 32px colours.$grayish-blue;

  @media screen and (min-width: 768px) {
    left: unset;
    right: 0;
    top: 70px;
    min-width: 25rem;
  }

  @media screen and (min-width: 1400px) {
    right: -190px;
    
  }
}

.cart-wrapper {
  //position: relative;

  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.cart {
  @media screen and (max-width: 767px) {
    position: relative;
  }
}
.cart-items-no {
  font-size: 0.6rem;
  text-align: center;
  font-weight: 700;
  color: white;
  position: absolute;
  top: -7px;
  right: -4px;
  width: 17px;
  height: 14px;
  border-radius: 8px;
  background-color: colours.$primary-orange;
}

.checkout {
  appearance: none;
  border: none;
  border-radius: 6px;
  padding: 1rem;
  background-color: colours.$primary-orange;
  color: white;
  width: 100%;
  margin-block-start: 1rem;
  cursor: pointer;
}

.thumbnail {
  border-radius: 6px;
}
.checkout:hover {
  background-color: hsl(20, 100%, 70%);
}
.price {
  font-weight: 700;
}

h2 {
  padding: 1rem;
}

hr {
  border: none;
  height: 1px;
  background-color: colours.$dark-grayish-blue;
}

.cart-item-info {
  padding: 1rem;
  font-size: 1rem;
  color: colours.$dark-grayish-blue;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  //column-gap: 1rem;

  &.empty {
    @media screen and (min-width: 768px) {
      padding: 4rem;
      text-align: center;
      justify-content: center;
    }
  }
  div:first-child {
    img {
      width: 3.125rem;
      height: 3.125rem;
    }
  }

  h3 {
    font-weight: 400;
  }
}
